{{! Sidebar items }}

<div class="row sidebar"> 
<div class="small-12 columns">
<h4>About</h4> 
<p>The little stretch of level land was white with Indian tepees, and there were probably half a thousand red warriors clustered around some object near the center of the camp. Their attention was so wholly riveted to this point of interest that they did not notice me, and I easily could have turned back into the dark recesses of the gorge and made my escape with perfect safety.</p>
 </div>
 </div>


 <div class="row sidebar"> 
<div class="small-12 columns">
<h4>Links</h4> 
<ul>
      <li><a href="">Audemedia</a></li>
      <li><a href="">ThemeForest</a></li>
      <li><a href="">Envato</a></li>
      <li><a href="">Something Other</a></li>
      </ul>
 </div>
 </div>